/*Practica de estilo practica8c.css*/
*{
	box-sizing: border-box;
	/*border-style: double;*/
}

h1,h2,h3{
	text-align: center;
}

header,footer {
	background-color: black;
	color: white;
	padding: 20px;
}

article{
	background-color: orange;
	padding left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	overflow: auto;
}

section{
	background-color: red;
	padding: 20px;
	float: left;
	width: 50%;
	height: 300px;
	border-style: solid;
	overflow: auto;
}

footer{
	clear: both;
}