header, footer{
  background-image: linear-gradient(blue, white, green);
  text-align: center;
  padding: 20px;
  margin: 10px;
  box-shadow: -5px 5px 5px black;
  text-shadow: 2px 2px 4px blue;
  color: white;
}

div{
  border: 1px solid black;
  margin: 100px;
  background-color: blueviolet;
  height: 150px;
  box-shadow: 10px -10px 5px rgba(90, 8, 114, 0.95);
}

p{
  padding: 5%;;
}
