*{
  box-sizing: border-box;

}

h1{
text-align: center;
}

section{
  width: 70%;
  margin: auto;
  border: dashed;
  padding: 15%;
}

ol ol{
  list-style-type: lower-roman;
}

.listaDesordenada{
  background-color: bisque;
}

.listaOrdenada{
  background-color: cornflowerblue;
}

.listaDefinicion{
  background-color: darkgreen;
}
